#products {
  margin: 10px;
}
button {
  background-color: black;
  color: white;
}

button:hover {
  transition: font-size 1s;
  background-color: green;
  font-size: 20px;
}

button:disabled {
  background-color: grey;
}

h1 {
  color: rgb(30, 0, 113);
}

.mainPageContainer {
  padding-top: 10px;
}
.arrayContainer {
  padding-top: 10px;
}
.ordersContainer {
  padding-top: 5px;
}
#orderContainer {
  padding-bottom: 15px;
}
/* siit kõik automaatselt loodud*/
#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  background-color: rgb(184, 202, 66);

  text-align: center;
  width: 100vw;
}

.mapContainer {
  margin: auto;
  width: 80%;
  height: 500px;
  border: 5px solid black;
  padding: 10px;
  border-radius: 45% 5%;
}
